@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
    background-color: rgb(254, 202, 202);
}

.player-two {
    background-color: rgb(255, 184, 184);
}

.winner {
    background-color: rgb(137, 237, 87);
}